.container {
  display: flex;
  flex-direction: column;
}
.filter{
    background: #fff;
    margin: 0px;
    margin-bottom: 21px;
    padding: 15px;
    padding-bottom: 23px;
    padding-top: 7px;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(37,45,71,.25);
    box-shadow: 1px 1px 5px 0 rgba(37,45,71,.25);
}
.dateranger {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* border-right: 1px; */
}
.date-icon {
  padding:10px;
  border-left: 0px !important;
  border: 1px solid #ced4da;
  cursor:pointer;
   border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}